<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        
        <title>Karyawan</title>
    </head>
    <body>
        <div class="container my-2">
            <h1>Daftar Karyawan</h1>
            <a th:href = "@{/showNewKaryawanForm}" class="btn btn-primary btn-sm mb-3 p-2">Tambah Karyawan</a>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>Nama Depan</th>
                        <th>Nama Belakang</th>
                        <th>Email</th>
                        <th>Pengaturan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="karyawan : ${listKaryawan}">
                        <td th:text="${karyawan.namaDepan}"></td>
                        <td th:text="${karyawan.namaBelakang}"></td>
                        <td th:text="${karyawan.email}"></td>
                        <td> <a th:href="@{/showFormForUpdate/{id}(id=${karyawan.id})}" class="btn btn-primary">Ubah</a> 
                            <a th:href="@{/deleteKaryawan/{id}(id=${karyawan.id})}" class="btn btn-danger">Hapus</a> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
